primary = #475CD1
grey = #000

// ou 

@import 'styl/*'

body
    background-color primary
    color grey
    border solid 1px @color
    transition: @color 5s ease 0s
    border-radius(5px)
    cf()
    lol()
